body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-image: url(https://images.unsplash.com/photo-1524242109383-e349707a106b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  height: 100vh;
}

.img-btn {
  padding: 6rem;
}

.navigation {
  background-image: url(./components/images/merica2.jpg);
  background-size: cover;
  height: 15rem;
}
